* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: rgb(253, 251, 251);
}


.left-side {
    display: flex;
    flex-direction: column;
    width: 18%;

    border-right: 1px solid rgb(212, 212, 212);
    position: fixed;
}

.logo {
    width: 120px;
    height: 100px;
    margin-left: 10px;

}

.nav ul li:hover {
    background-color: rgb(243, 242, 240);
    width: 100%;
    border-radius: 200px;
}

.nav ul li {
    list-style: none;
    padding: 15px;
    font-size: 17px;


}

.nav ul li a svg {
    margin-right: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: rgb(62, 61, 61);
}

.profile img {
    width: 45px;
    height: 35px;
    border-radius: 50%;
    margin-right: 12px;
}

.profile a {
    margin-left: 40px;
}

.profile {
    margin-bottom: 150px;
    font-size: 17px;

}

.profile:hover {
    background-color: rgb(243, 242, 240);
    width: 80%;
    border-radius: 200px;
    color: rgb(62, 61, 61);
}

.profile a {
    text-decoration: none;
    color: rgb(62, 61, 61);
}

.more {
    margin-bottom: 220px;
    font-size: 17px;

}

.more a {
    margin-left: 40px;

}

.more:hover {
    background-color: rgb(243, 242, 240);
    width: 80%;
    border-radius: 200px;
    color: rgb(62, 61, 61);
}

.more a {
    text-decoration: none;
    color: rgb(62, 61, 61);
}

.more svg {
    margin-right: 12px;
}

/* ------------main side-------------- */
.main-side {
    width: 40%;
    margin-left: 35%;
}

/* ---------------story---------------- */
.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid rgb(220, 219, 219);
    padding: 5px 8px;
    border-radius: 9px;
}

.story {
    padding-top: 15%;
    position: relative;
    background-position: center;
    background-size: cover;

}

.story img {
    position: absolute;
    width: 75px;
    height: 70px;
    border-radius: 50%;
    top: 8px;
    left: 15px;
    border: 5px solid rgb(193, 69, 69);
}

.story p {
    margin: 0 10px;
}

.main-container {
    border: 1px solid rgb(184, 184, 184);
    border-radius: 9px;
    margin: 12px 0;
}

.user-profile {
    display: flex;

}

.user-profile img {
    width: 45px;
    height: 40px;
    border: 2px solid rgb(193, 69, 69);
    border-radius: 50%;
    margin: 7px;

}

.new {
    font-size: 17px;
    padding: 15px 5px;
    font-style: bold;
}

.post-img {
    width: 100%;
    
}

.like-comment svg {
    padding: 10px;
}

.like2 {
    display: flex;
}

.milan {
    font-size: 17px;
    padding: 17px 8px;
}

.view {
    margin: 5px 3px;
    opacity: 0.7;
    font-size: 17px;

}

.view a {
    text-decoration: none;
    color: rgb(150, 148, 148);
    padding: 0 7px;
}

.hello {
    font-size: 17px;
    padding: 15px 7px;
    font-style: bold;
}
